@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --font-principal: "Roboto Slab", serif;
    --cor01: #f56a6a;
    --cor02: #f0eeee;
    --cor03: #7F888F;
    --cor04: #3D4449;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: var(--font-principal);
    caret-color: transparent;
}

/*Configurações gerais*/
h1{
    font-size: 4em;
    margin: 0px 0px .5em 0px;
    font-weight: 700;
    color: var(--cor04);
}

h2{
    color: var(--cor04);
}
p{
    color: var(--cor03);
    letter-spacing: 0.075em;
    font-size: 1em;
    font-weight: 400;
}

/*Cabeçalho*/
.content-sup{
    margin: auto;
    max-width: 110em;
}

header{
    padding: 6em 0 1em 0;
    border-bottom: solid 5px var(--cor01);
    font-size: 1.125em;
    color: inherit;
    display: flex;
}

strong{
    color: var(--cor04);
    transition: .5s;
}

header>a:hover strong{
    color: var(--cor01);
    
}

header a{
    color: var(--cor03);
    transition: .5s;
    width: 100vw;

    &:hover{
        color: var(--cor01);
    }
}

/*Banner*/
.banner{
display: flex;
justify-content: space-between;
padding: 73.3px 130px 44px 0;
border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}

#banner-content{
    width: 50%;
    padding-right: 120px;
    margin-top: 10px;
}

.perfil{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

img{
    object-fit: cover;
    object-position: right;
    width: 350px;
    height: 400px;
    border: solid 1px #ccc;
    border-radius: 10px;
    
}

/*Sobre mim*/
.aboutme{
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
}

/*Habilidades*/

.container-skill h1{
    border-bottom: solid 5px var(--cor01);
    font-size: 3em;
}
.container-skill{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
    padding: 6.2em 0 4em 0;
}

.skills{
    flex: 1 1 calc(50% - 10px);
    width: 100%;
    height: 220px;
    display: flex;
    
}

.losang{
    border: solid 2.9px rgba(210, 215, 217, 0.75);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    transform: rotate(45deg) translateY(35px);
    margin: 28px 5px 15px 30px;
    
}
.item{
    transform: rotate(-45deg);
    color: var(--cor01);
    font-size: 3em;
}

.divisor{
    margin: 0 40px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li{
    color: var(--cor03);
    margin-left: 20px;
}

/*Experiências*/
.exp{
    flex-direction: column;
    padding: 6.2em 0 4em 0;
}

.prof-exp{
    margin: 20px 0;
}

.prof-exp h2{
    line-height: 1.5;
    margin-bottom: 1.5em;
    color: var(--cor04);
    font-size: 1.75em;
}


/*Footer*/
footer{
    flex-direction: column;
}
.foot-sep{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 150px;
}

.foot-sep i{
    margin: 0 5px 0 15px;
    color: var(--cor03);
}

.foot-sep a{
    color: var(--cor01);
}
footer h1{
    font-size: 2.4em;
    color: var(--cor04);
    max-width: 225px;   
}

footer h1::after{
    background-color: var(--cor01);
    height: 3px;
    display: block;
    content: "";
}

/*Projetos*/
.proj{
    padding: 0px 15px;    
}
.proj h1{
    border-bottom: solid 3px var(--cor01);
    display: inline-block;
}

.proj-sep{
    display: flex;
}

.project{
    overflow: hidden;
    width: 495px;
    height: 285px;
    position: relative;
    display: block;
    border-radius: 15px;
}

.proj img{
    width: 495px;
    height: 285px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
        transform: scale(1.075);
    }
}

.impar{
    border-right: solid 1px rgba(210, 215, 217, 0.75);
}
.par{
    border-left: solid 1px rgba(210, 215, 217, 0.75);
}

.projn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 720px;
}

.projn li{
    padding-left: 0.5em;
    vertical-align: baseline;
    letter-spacing: 0.2em;
}

.more{
    color: var(--cor01);
    cursor: pointer;
    border-radius: 0.375em;
    border: solid 2px var(--cor01);
    padding: 15px;
    width: 90px;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    margin-top: 25px;

    &:hover{
        background-color: #f1c1c173;
    }
}